DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB=academic_performance_tracker
POSTGRES_USER=academic_tracker_user
POSTGRES_PASSWORD=academic_tracker_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Только для быстрой локальной проверки без PostgreSQL:
# USE_SQLITE=1
