{% extends "performance/base.html" %}

{% block title %}Занятия{% endblock %}

{% block content %}
<h1>Занятия</h1>

<div class="table-wrap">
    <table>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Группа</th>
                <th>Предмет</th>
                <th>Преподаватель</th>
                <th>Тема</th>
            </tr>
        </thead>
        <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.date }}</td>
                    <td>{{ lesson.group }}</td>
                    <td>{{ lesson.subject }}</td>
                    <td>{{ lesson.teacher }}</td>
                    <td>{{ lesson.topic }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="5">Нет данных</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
