{% extends "performance/base.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<h1>Смена пароля</h1>

<form class="login-box" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <label for="{{ form.old_password.id_for_label }}">Старый пароль</label>
    {{ form.old_password }}
    {{ form.old_password.errors }}

    <label for="{{ form.new_password1.id_for_label }}">Новый пароль</label>
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}

    <label for="{{ form.new_password2.id_for_label }}">Повтор нового пароля</label>
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}

    <button class="primary" type="submit">Изменить пароль</button>
</form>
{% endblock %}
